/* FONTS */

@font-face {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  src: url('../fonts/PlusJakartaSans-Medium.woff2') format('woff2');
  src: url('../fonts/PlusJakartaSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  src: url('../fonts/PlusJakartaSans-Bold.woff2') format('woff2');
  src: url('../fonts/PlusJakartaSans-Bold.woff') format('woff');
}

/* CSS CUSTOM PROPERTIES */

:root {
    --ff-primary:'Plus Jakarta Sans', sans-serif;

    --fw-regular: 500;
    --fw-bold: 700;

    --fs-1: 1rem;
    --fs-2: 1.125rem;
    --fs-3: 1.5rem;
    --fs-4: 1.625rem
    --fs-5: 2rem;
    --fs-6: 2.5rem;
    --fs-7: 3.5rem

    --clr-neutral-100: hsl(28, 100%, 97%);
    --clr-neutral-400: hsl(30, 5%, 45%);
    --clr-neutral-800: hsl(0, 0%, 1%);

    --clr-primary-300: hsl(0, 78%, 79%);
    --clr-primary-500: hsl(28, 89%, 67%);
    --clr-primary-700: hsl(252, 66%, 62%);

    --clr-accent-400: hsl(172, 46%, 57%);
    --clr-accent-600: hsl(7, 77%, 66%);
    --clr-accent-800: hsl(314, 45%, 23%);

    --shadow-color: 29deg 28% 61%;
    --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}