/* FONTS */

@font-face {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  src: url('../fonts/PlusJakartaSans-Medium.woff2') format('woff2');
  src: url('../fonts/PlusJakartaSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  src: url('../fonts/PlusJakartaSans-Bold.woff2') format('woff2');
  src: url('../fonts/PlusJakartaSans-Bold.woff') format('woff');
}

/* CSS CUSTOM PROPERTIES */

:root {
  --ff-primary: 'Plus Jakarta Sans', sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;

  --fs-sm: 0.875rem;
  --fs-1: 1rem;
  --fs-2: 1.125rem;
  --fs-3: 1.5rem;
  --fs-4: 1.625rem;
  --fs-5: 2rem;
  --fs-6: 2.25rem;
  --fs-7: 2.5rem;
  --fs-8: 3.5rem;

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(28, 100%, 97%);
  --clr-neutral-400: hsl(30, 5%, 45%);
  --clr-neutral-800: hsl(0, 0%, 1%);

  --clr-primary-300: hsl(0, 78%, 79%);
  --clr-primary-500: hsl(28, 89%, 67%);
  --clr-primary-700: hsl(252, 66%, 62%);

  --clr-accent-400: hsl(172, 46%, 57%);
  --clr-accent-600: hsl(7, 77%, 66%);
  --clr-accent-800: hsl(314, 45%, 23%);

  --shadow-color: 29deg 28% 61%;
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

/* BODY/GLOABL */

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-neutral-200);
  min-height: 100svh;
  font-size: var(--fs-1);
  font-weight: var(--fw-regular);
}

h1,
h2,
h3 {
  line-height: 1.1;
  font-weight: var(--fw-bold);
}

a {
  text-decoration: none;
}

/* UTILITY */

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.wrapper {
  max-width: 60rem;
  padding-inline: 1rem;
  margin-inline: auto;
}

/* COMPONENTS */

.btn {
  font-size: var(--fs-sm);
  font-weight: var(--fw-bold);
  padding-inline: 1.75rem;
  padding-block: 1rem;
  border: none;
  border-radius: 1.75rem;
  cursor: pointer;
}

.btn--dark {
  color: var(--clr-neutral-200);
  background-color: var(--clr-neutral-800);
}

.btn--dark:hover,
.btn--dark:focus {
  background-color: var(--clr-primary-700);
  transition: all 400ms ease-in-out;
}

.btn--accent {
  color: var(--clr-neutral-200);
  background-color: var(--clr-accent-600);
}

.btn--accent:hover,
.btn--accent:focus {
  background-color: var(--clr-primary-500);
  transition: all 400ms ease-in-out;
}

/* HEADER */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

header img {
  width: 3rem;
  height: 3rem;
}

/* INTRO */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: 3rem;
  padding-inline: 2.5rem;
}

.intro__title {
  font-size: var(--fs-6);
  text-align: center;
  padding-bottom: 1rem;
}

.intro__text {
  color: var(--clr-neutral-400);
  text-align: center;
}

/* SERVICES */

.services {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.service {
  font-size: var(--fs-3);
  font-weight: var(--fw-bold);
  text-align: left;
  color: var(--clr-neutral-100);
  border-radius: 0.5rem;
  background-repeat: no-repeat;
  background-position: right 1.5rem top 1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
}

#service1 {
  max-width: 100%;
  height: 22.75rem;

  background-color: var(--clr-primary-700);
  background-image: url('../pattern-graphic-design.svg');
  grid-column: 1 / span 2;
}

#service2 {
  background-color: var(--clr-primary-500);
  background-image: url('../pattern-ui-ux.svg');
  /* width: 10rem; */
  max-width: 100%;
  height: 11.25rem;
  grid-column: 1 / span 1;
  grid-row: 2;
}

#service3 {
  background-color: var(--clr-primary-300);
  background-image: url('../pattern-apps.svg');
  /* width: 10rem; */
  max-width: 100%;
  height: 11.25rem;
  grid-column: 2 / span 1;
  grid-row: 2;
}

#service4 {
  background-color: var(--clr-accent-600);
  background-image: url('../pattern-illustrations.svg');
  width: 100%;
  height: 10rem;
  grid-column: 1 / span 2;
}

#service5 {
  width: 100%;
  height: 11.25rem;
  background-color: var(--clr-accent-400);
  background-image: url('../pattern-photography.svg');
  grid-column: 1 / span 2;
}

#service6 {
  width: 100%;
  height: 11.25rem;
  background-color: var(--clr-accent-800);
  background-image: url('../pattern-motion-graphics.svg');
  grid-column: 1 / span 2;
}

/* ABOUT ME */

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-block: 5rem;
}

.about-me h2 {
  font-size: var(--fs-4);
  text-align: center;
}

.about-me p {
  text-align: center;
  color: var(--clr-neutral-400);
}

/* MY WORK */

.my-work {
  width: 100%;
  height: auto;
  border-radius: 0;
  background-color: transparent;
  font-size: 30px;
  color: #fff7f0;
  font-weight: 700;
  text-align: center;
  /* overflow: hidden;
  margin: 100px; */
}

.my-work .slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  border-radius: 0;
  background-color: transparent;
  gap: 15px;
  margin: 32px 0;
  transform: translateX(0);
  transition: all 0.6s ease;
}

.my-work h2 {
  font-size: var(--fs-3);
  text-align: center;
  padding-bottom: 1rem;
  color: var(--clr-neutral-800);
}

.my-work .slider img {
  width: 270px;
  height: 180px;
  border-radius: 6px;
  background-color: transparent;
}

.slide-controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
}

.btn-slide {
  background-color: var(--clr-neutral-800);
  color: var(--clr-neutral-100);
  border: none;
  border-radius: 50%;
  padding-block: 1.5rem;
  padding-inline: 1.5rem;
  cursor: pointer;
}

.btn-slide:hover,
.btn-slide:focus {
  background-color: var(--clr-primary-700);
  transition: all 400ms ease-in-out;
}

/* CONTACT ME */

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background-color: var(--clr-neutral-800);
  color: var(--clr-neutral-200);
  margin-inline: 1rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-radius: 10px;
}

.contact-me h2 {
  margin-top: 2.5rem;
  text-align: center;
}

.contact-me p {
  text-align: center;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

footer img {
  width: 3rem;
  height: 3rem;
}
